* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #000;
  overflow: hidden;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4dvw;
  margin: 0rem auto;
}
.nav_container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63%;
}
.nav_container2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.fa-spotify {
  color: #fff;
  transform: scale(2);
  margin: 0rem 2.5rem 0rem 2rem;
}
.fa-spotify:hover {
  cursor: pointer;
}
.nav_container1 .home_btn {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  color: #fff;
  transform: scale(1.5);
  transform-origin: center center;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.29);
}
.nav_container1 .home_btn:hover {
  cursor: pointer;
}

.search_box {
  display: flex;
  align-items: center;
}

.search_box input {
  padding: 0.6rem 2rem 0.6rem 3.5rem;
  width: 25rem;
  background-color: rgba(128, 128, 128, 0.29);
  outline: none;
  border: 2px solid transparent;
  border-radius: 5rem;
  transition: border 0.3s ease;
}

.search_box input:focus {
  border: 2px solid white;
}

.search_box input::placeholder {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: rgba(226, 220, 220, 0.791);
}
.nav_search_btn {
  color: rgba(226, 220, 220, 0.791);
  position: relative;
  left: 2.2rem;
  transform: scale(1.5);
}
.nav_search_btn:hover {
  cursor: pointer;
}

.nav_container2 .nav_text {
  color: rgba(226, 220, 220, 0.791);
  font-weight: 700;
}
.Explore_btn {
  font-weight: 600;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
}

.Explore_btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.Install_App_txt,
.SignUp_txt,
.bell,
.Users {
  color: rgba(226, 220, 220, 0.791);
  padding: 0rem 0.6rem;
  font-weight: 600;
  font-size: small;
}
.nav_btn_box {
  border: 2px solid transparent;
  background-color: rgba(226, 220, 220, 0.162);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 50%;
  margin: 0rem 0.6rem;
}
.nav_btn {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;

  border: 2px solid transparent;
  border-radius: 50%;
  font-weight: 700;
  background-color: rgb(0, 162, 255);
}

.nav_btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.Install_App_txt {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.nav_text:hover,
.Options:hover,
.Install_App_txt:hover,
.SignUp_txt:hover,
.bell:hover,
.Users:hover,
.recents_box:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.02);
}

.nav_text,
.Options,
.Install_App_txt,
.SignUp_txt,
.nav_btn,
.bell,
.Users,
.Explore_btn,
.library_search_btn {
  transition: color 0.2s ease, transform 0.1s ease;
}

/* ================================================================| */

.Main_content {
  display: flex;
  margin: 0rem 0.5rem;
  gap: 1%;
  height: calc(100vh - 4dvw);
}

.Library_Section {
  height: 100%;
  width: 30%;
  background-color: rgba(226, 220, 220, 0.096);
  border-radius: 1rem;
}

.Library_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto;
  color: #fff;
}
.library_txt {
  font-weight: 700;
}
.create_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.create_btn {
  background-color: rgba(226, 220, 220, 0.068);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.expand_symbol {
  color: rgba(226, 220, 220, 0.63);
  padding: 0.6rem 1.2rem;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus_symbol {
  padding: 0rem 1.5rem 0rem 0rem;
}

.library_txt,
.create_btn,
.expand_symbol,
.plus_symbol,
.library_btn button {
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.create_btn:hover {
  background-color: rgba(226, 220, 220, 0.11);
}

.expand_symbol:hover,
.library_search_btn:hover {
  background-color: rgba(226, 220, 220, 0.068);
  cursor: pointer;
  color: #fff;
}
.library_search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.1rem;
  border: 2px solid transparent;
  border-radius: 50%;
}

.library_btn {
  display: flex;
  width: 90%;
  margin: 1rem auto;
  gap: 0.3rem;
}
.library_btn button {
  background-color: rgba(226, 220, 220, 0.11);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
}
.library_btn button:hover {
  cursor: pointer;
  background-color: rgba(226, 220, 220, 0.151);
}

.library_search_container {
  padding: 0rem 1rem;
  color: #ffffff94;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0rem auto;
}
.recents_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.1s ease;
}

.Recents_txt {
  font-size: 0.8rem;
}

.Playlist_Container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.Playlist_Container img {
  width: 25%;
  height: 6dvh;
  border-radius: 0.2rem;
}

.box_Container {
  width: 95%;
  margin: 0rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #ffffff94;
  font-weight: 600;
}
.box_Container:hover {
  background-color: rgba(226, 220, 220, 0.11);
  cursor: pointer;
  color: #fff;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play_btn:hover {
  cursor: pointer;
}

.song_name_box {
  display: flex;
  flex-direction: column;
}

/*================================================================| */

.Songs_Section {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4343439a,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 1rem;
  width: 70%;
}

.Songs_Section_btn {
  display: flex;
  margin: 1rem 2rem;
  gap: 0.3rem;
}
.Songs_Section_btn button {
  background-color: rgba(226, 220, 220, 0.057);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
}
.Songs_Section_btn button:hover {
  cursor: pointer;
  background-color: rgba(226, 220, 220, 0.151);
}
.All_Songs_Container {
  overflow-y: auto;
  height: calc(100vh - 4dvw);
}
.Songs_Cards_Container {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  overflow-x: auto;
  margin: 0rem 0.5rem;
}

.Songs_box {
  margin-bottom: 2rem;
}
.Song_box_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 95%;
  margin: 1rem auto;
}

.txt_1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.txt_2 {
  color: #ffffff94;
  font-size: 0.8rem;
  font-weight: 500;
}

.txt_1:hover,
.txt_2:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* === HOVER EFFECT KE LIYE CODE === */
.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 0.5rem;
}

.Card img {
  border: 2px solid transparent;
  border-radius: 0.8rem;
  height: 10rem;
  width: 11rem;
}

.Card p {
  padding: 0.5rem 0rem;
  color: #ffffff94;
  font-size: 0.8rem;
  font-weight: 500;
}

.Card:hover {
  cursor: pointer;
}

/* Play button ka style */
.card-play-btn {
  position: absolute;
  bottom: 4.5rem;
  right: 0.8rem;

  /* Button ka design */
  width: 3rem;
  height: 3rem;
  background-color: #1db954;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  opacity: 0;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}
.Card:hover .card-play-btn {
  opacity: 1;
  transform: translateY(0); /* Apni original position par aa jayega */
}

.card-play-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000;
}

.Artists_Container img {
  border-radius: 50%;
}

/* ======================= Footer =========================|  */

.Songs_Section_footer {
  display: flex;
  border-top: 1px solid #ffffff63;
  border-bottom: 1px solid #ffffff63;
  text-align: justify;
  gap: 5rem;
  padding: 2rem 0rem 5rem 0rem;
  margin: 0rem 2rem 6rem 2rem;
}
.footer_txt_box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.Songs_Section_footer p {
  color: #ffffff94;
  font-weight: 900;
  font-size: 1rem;
}
.Footer_mini_heading {
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
}
.Footer_icons {
  color: #fff;
  border: 2px solid white;
}
